@media (max-width: 1260px) {
  .services__item:not(:nth-child(3n)) {
    margin-right: 55px;
  }
}

@media (max-width: 1076px) {
  .services__item {
    padding: 21px 45px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 100px 0 50px;
  }
  .mission__left {
    margin-right: 0;
    max-width: 100%;
  }
  .mission__right {
    display: none;
  }
}

@media (max-width: 982px) {
  .services__item {
    padding: 15px 15px;
  }

  .services__item:not(:nth-child(3n)) {
    margin-right: 40px;
  }
  .recent__item:not(:last-child) {
    margin-right: 55px;
  }
  .mission {
    padding-top: 30px;
  }
  .subscribe {
    padding: 140px 0 80px;
  }
}

@media (max-width: 770px) {
  .header__nav-list {
    flex-direction: column;
  }

  .header__nav-item {
    margin-right: 0;
  }

  .header__nav-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 30px;
  }

  .hero__descr {
    font-size: 16px;
  }
  .recent {
    padding: 65px 0;
  }
  .recent__descr {
    margin-bottom: 47px;
  }
  .recent__item {
    padding: 15px 15px 20px;
  }
  .recent__item-img {
    margin-bottom: 15px;
  }
  .recent__item-subtitle {
    font-size: 16px;
  }
  .recent__item-text {
    font-size: 14px;
  }
  .subscribe {
    padding: 80px 0 40px;
  }
}

@media (max-width: 645px) {
  .title {
    font-size: 40px;
  }

  .descr {
    margin-bottom: 50px;
    font-size: 25px;
  }

  .services__list {
    margin-bottom: 50px;
  }

  .services__item {
    max-width: 48%;
  }

  .services__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .services__item:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .analysis {
    padding: 100px 0;
  }
  .mission__text {
    font-size: 25px;
  }
  .mission__item-subtitle {
    font-size: 27px;
  }
  .mission__item-text {
    font-size: 25px;
  }
}

@media (max-width: 620px) {
  .analysis__form {
    flex-direction: column;
  }

  .analysis__form-block {
    margin-right: 0;
    margin-bottom: 21px;
    min-width: 100%;
  }

  .analysis__form-input {
    min-width: 100%;
  }

  .analysis__btn {
    width: 100%;
  }
  .recent__list {
    flex-wrap: wrap;
  }
  .recent__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .recent__item {
    min-width: 100%;
  }
  .mission__item {
    padding-left: 0;
  }
  .mission__item::before {
    display: none;
  }
}

@media (max-width: 529px) {

  .services {
    padding: 39px 0 45px;
  }

  .services__item {
    margin-right: 0;
    min-width: 100%;
  }

  .services__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .subscribe {
    padding-top: 40px;
  }
  .subscribe__form {
    flex-wrap: wrap;
  }
  .subscribe__form-block {
    margin-right: 0;
    min-width: 100%;
  }
  .subscribe__form-input {
    margin-bottom: 15px;
    width: 100%;
  }
  .subscribe__btn {
    width: 100%;
  }
}

.btn {
  padding: 16px 44px;
  font-size: 12px;
}

@media (max-width: 397px) {
  .btn {
    padding: 16px 24px;
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .header__container {
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .hero {
    padding-top: 50px;
  }

  .hero__btn {
    padding: 10px 30px;
  }
}