/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	/* по умолчанию */
	/* font-size: 16px;  */
}

body {
	line-height: 1;
	font-family: 'Imprima', sans-serif;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------------------------ */

/* Fonts */

@font-face {
	font-family: 'Imprima';
	src: local("Imprima Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/ImprimaRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/ImprimaRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JejuGothic';
	src: local("JejuGothic Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/JejuGothic-Regular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/JejuGothic-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Общие стили */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1455px;
}

.flex {
	display: flex;
}

/* Header */
.header {
	padding: 20px 0;
}

.header__container {
	justify-content: space-between;
	align-items: center;
}

.header__nav-item:not(:last-child) {
	margin-right: 25px;
}

.header__nav-link {
	color: #000;
	font-family: Imprima;
	font-size: 16px;
	transition: border-bottom 0.3s ease-in-out;
}

.header__nav-link:hover {
	border-bottom: 1px solid #000;
}